# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thait\OneDrive\Desktop\bai-tap\GitProject\su-dung-ham-co-san-cua-mang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
