# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thait\OneDrive\Desktop\bai-tap\GitProject\luyen-tap-tao-va-su-dung-ham-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
