# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thait\OneDrive\Desktop\bai-tap\GitProject\ham-kiem-tra-so-nguyen-to\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
